h1{
    font-family:fantasy;
}
.aa{
    text-decoration:none;
}



.open{
    background-image:url("/2019-Dodge-Viper-redesign.jpg") ;
    height: 55rem;
    background-size: cover;
    background-position: center;
    text-align:center;
    padding-top: 15rem;
    padding-bottom: 15rem;
    text-shadow: 3px 3px 10px black;
}

